{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="fh5co-hero">
		<div class="fh5co-overlay"></div>
		<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(/static/images/home-image.jpg);">
			<div class="desc animate-box">
				<div class="container">
					<div class="row">
						<div class="col-md-7">
							<h2>Entrenamiento &amp; Salud <br>es nuestra <b>Mentalidad</b></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end:fh5co-hero -->
	<div id="fh5co-schedule-section" class="fh5co-lightgray-section">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="heading-section text-center animate-box">
						<h2>Horarios de Clases</h2>
						<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					</div>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-10 col-md-offset-1 text-center">
					<ul class="schedule">
						<li><a href="#" class="active" data-sched="sunday">Domingo</a></li>
						<li><a href="#" data-sched="monday">Lunes</a></li>
						<li><a href="#" data-sched="tuesday">Martes</a></li>
						<li><a href="#" data-sched="wednesday">Miércoles</a></li>
						<li><a href="#" data-sched="thursday">Jueves</a></li>
						<li><a href="#" data-sched="monday">Viernes</a></li>
						<li><a href="#" data-sched="saturday">Sábado</a></li>
					</ul>
				</div>
				<div class="row text-center">

					<div class="col-md-12 schedule-container">

						<div class="schedule-content active" data-day="sunday">
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-dumbell.svg' %}" alt="Cycling">
									<small>06AM-7AM</small>
									<h3>TRX</h3>
									<span>John Doe</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-yoga.svg' %}" alt="">
									<small>06AM-7AM</small>
									<h3>Clase de Yoga</h3>
									<span>James Smith</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-cycling.svg' %}" alt="">
									<small>06AM-7AM</small>
									<h3>PowerBike</h3>
									<span>Rita Doe</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-boxing.svg' %}" alt="Cycling">
									<small>06AM-7AM</small>
									<h3>Boxing Fitness</h3>
									<span>John Dose</span>
								</div>
							</div>
						</div>
						<!-- END sched-content -->

						<div class="schedule-content" data-day="monday">
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-dumbell.svg' %}" alt="Cycling">
									<small>06AM-7AM</small>
									<h3>TRX</h3>
									<span>John Doe</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-yoga.svg' %}" alt="">
									<small>06AM-7AM</small>
									<h3>Clase de Yoga</h3>
									<span>James Smith</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-cycling.svg' %}" alt="">
									<small>06AM-7AM</small>
									<h3>PowerBike</h3>
									<span>Rita Doe</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-boxing.svg' %}" alt="Cycling">
									<small>06AM-7AM</small>
									<h3>Boxing Fitness</h3>
									<span>John Dose</span>
								</div>
							</div>

						</div>
						<!-- END sched-content -->

						<div class="schedule-content" data-day="tuesday">
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-dumbell.svg' %}" alt="Cycling">
									<small>06AM-7AM</small>
									<h3>TRX</h3>
									<span>John Doe</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-yoga.svg' %}" alt="">
									<small>06AM-7AM</small>
									<h3>Clase de Yoga</h3>
									<span>James Smith</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-cycling.svg' %}" alt="">
									<small>06AM-7AM</small>
									<h3>PowerBike</h3>
									<span>Rita Doe</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-boxing.svg' %}" alt="Cycling">
									<small>06AM-7AM</small>
									<h3>Boxing Fitness</h3>
									<span>John Dose</span>
								</div>
							</div>
						</div>
						<!-- END sched-content -->

						<div class="schedule-content" data-day="wednesday">
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-dumbell.svg' %}" alt="Cycling">
									<small>06AM-7AM</small>
									<h3>TRX</h3>
									<span>John Doe</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-yoga.svg' %}" alt="">
									<small>06AM-7AM</small>
									<h3>Clase de Yoga</h3>
									<span>James Smith</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-cycling.svg' %}" alt="">
									<small>06AM-7AM</small>
									<h3>PowerBike</h3>
									<span>Rita Doe</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-boxing.svg' %}" alt="Cycling">
									<small>06AM-7AM</small>
									<h3>Boxing Fitness</h3>
									<span>John Dose</span>
								</div>
							</div>
						</div>
						<!-- END sched-content -->

						<div class="schedule-content" data-day="thursday">
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-dumbell.svg' %}" alt="Cycling">
									<small>06AM-7AM</small>
									<h3>TRX</h3>
									<span>John Doe</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-yoga.svg' %}" alt="">
									<small>06AM-7AM</small>
									<h3>Clase de Yoga</h3>
									<span>James Smith</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-cycling.svg' %}" alt="">
									<small>06AM-7AM</small>
									<h3>PowerBike</h3>
									<span>Rita Doe</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-boxing.svg' %}" alt="Cycling">
									<small>06AM-7AM</small>
									<h3>Boxing Fitness</h3>
									<span>John Dose</span>
								</div>
							</div>
						</div>
						<!-- END sched-content -->

						<div class="schedule-content" data-day="friday">
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-dumbell.svg' %}" alt="Cycling">
									<small>06AM-7AM</small>
									<h3>TRX</h3>
									<span>John Doe</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-yoga.svg' %}" alt="">
									<small>06AM-7AM</small>
									<h3>Clase de Yoga</h3>
									<span>James Smith</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-cycling.svg' %}" alt="">
									<small>06AM-7AM</small>
									<h3>PowerBike</h3>
									<span>Rita Doe</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-boxing.svg' %}" alt="Cycling">
									<small>06AM-7AM</small>
									<h3>Boxing Fitness</h3>
									<span>John Dose</span>
								</div>
							</div>
						</div>
						<!-- END sched-content -->

						<div class="schedule-content" data-day="saturday">
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-dumbell.svg' %}" alt="Cycling">
									<small>06AM-7AM</small>
									<h3>TRX</h3>
									<span>John Doe</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-yoga.svg' %}" alt="">
									<small>06AM-7AM</small>
									<h3>Clase de Yoga</h3>
									<span>James Smith</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-cycling.svg' %}" alt="">
									<small>06AM-7AM</small>
									<h3>PowerBike</h3>
									<span>Rita Doe</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="program program-schedule">
									<img src="{% static 'images/fit-boxing.svg' %}" alt="Cycling">
									<small>06AM-7AM</small>
									<h3>Boxing Fitness</h3>
									<span>John Dose</span>
								</div>
							</div>
						</div>
						<!-- END sched-content -->
					</div>


				</div>
			</div>
		</div>
	</div>
	<div class="fh5co-parallax" style="background-image: url(/static/images/home-image-3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell animate-box">
						<h1 class="text-center">Decidido a estar en Forma</h1>
						<p>Made with love by the fine folks at <a href="#">Avila Spa</a></p>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end: fh5co-parallax -->
	<div id="fh5co-programs-section">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="heading-section text-center animate-box">
						<h2>Nuestros Programas</h2>
						<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4 col-sm-6">
					<div class="program animate-box">
						<img src="{% static 'images/fit-dumbell.svg' %}" alt="Cycling">
						<h3>Body Combat</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						<span><a href="#" class="btn btn-default">Join Now</a></span>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="program animate-box">
						<img src="{% static 'images/fit-yoga.svg' %}" alt="">
						<h3>Yoga Programs</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						<span><a href="#" class="btn btn-default">Join Now</a></span>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="program animate-box">
						<img src="{% static 'images/fit-cycling.svg' %}" alt="">
						<h3>Cycling Program</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						<span><a href="#" class="btn btn-default">Join Now</a></span>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="program animate-box">
						<img src="{% static 'images/fit-boxing.svg' %}" alt="Cycling">
						<h3>Boxing Fitness</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						<span><a href="#" class="btn btn-default">Join Now</a></span>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="program animate-box">
						<img src="{% static 'images/fit-swimming.svg' %}" alt="">
						<h3>Swimming Program</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						<span><a href="#" class="btn btn-default">Join Now</a></span>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="program animate-box">
						<img src="{% static 'images/fit-massage.svg' %}" alt="">
						<h3>Massage</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						<span><a href="#" class="btn btn-default">Join Now</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fh5co-parallax" style="background-image: url(/static/images/home-image-2.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 fh5co-table">
					<div class="fh5co-intro fh5co-table-cell box-area">
						<div class="animate-box">
							<h1>Plan Vacacional con Ávila Spa</h1>
							<p>Pay now and get 25% Discount</p>
							<a href="#" class="btn btn-primary">Become A Member</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end: fh5co-parallax -->
	<div id="fh5co-pricing-section" class="fh5co-pricing fh5co-lightgray-section">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="heading-section text-center animate-box">
						<h2>Precios de nuestros Planes</h2>
						<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="pricing">
				<div class="col-md-3 animate-box">
					<div class="price-box animate-box">
						<h2 class="pricing-plan">Starter</h2>
						<div class="price"><sup class="currency">Bs.</sup>7mil<small>/mes</small></div>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
						<ul class="classes">
							<li>15 Cardio Classes</li>
							<li class="color">10 Swimming Lesson</li>
							<li>10 Yoga Classes</li>
							<li class="color">20 Aerobics</li>
							<li>10 Zumba Classes</li>
							<li class="color">5 Massage</li>
							<li>10 Body Building</li>
						</ul>
						<a href="#" class="btn btn-default">Elegir Plan</a>
					</div>
				</div>

				<div class="col-md-3 animate-box">
					<div class="price-box animate-box">
						<h2 class="pricing-plan">Starter</h2>
						<div class="price"><sup class="currency">Bs.</sup>7mil<small>/mes</small></div>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
						<ul class="classes">
							<li>15 Cardio Classes</li>
							<li class="color">10 Swimming Lesson</li>
							<li>10 Yoga Classes</li>
							<li class="color">20 Aerobics</li>
							<li>10 Zumba Classes</li>
							<li class="color">5 Massage</li>
							<li>10 Body Building</li>
						</ul>
						<a href="#" class="btn btn-default">Elegir Plan</a>
					</div>
				</div>

				<div class="col-md-3 animate-box">
					<div class="price-box animate-box">
						<h2 class="pricing-plan">Starter</h2>
						<div class="price"><sup class="currency">Bs.</sup>7mil<small>/mes</small></div>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
						<ul class="classes">
							<li>15 Cardio Classes</li>
							<li class="color">10 Swimming Lesson</li>
							<li>10 Yoga Classes</li>
							<li class="color">20 Aerobics</li>
							<li>10 Zumba Classes</li>
							<li class="color">5 Massage</li>
							<li>10 Body Building</li>
						</ul>
						<a href="#" class="btn btn-default">Elegir Plan</a>
					</div>
				</div>

				<div class="col-md-3 animate-box">
					<div class="price-box animate-box">
						<h2 class="pricing-plan">Starter</h2>
						<div class="price"><sup class="currency">Bs.</sup>7mil<small>/mes</small></div>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
						<ul class="classes">
							<li>15 Cardio Classes</li>
							<li class="color">10 Swimming Lesson</li>
							<li>10 Yoga Classes</li>
							<li class="color">20 Aerobics</li>
							<li>10 Zumba Classes</li>
							<li class="color">5 Massage</li>
							<li>10 Body Building</li>
						</ul>
						<a href="#" class="btn btn-default">Elegir Plan</a>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>

	<div id="fh5co-blog-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="col-md-12">
						<div class="heading-section animate-box">
							<h2>Recent from Blog</h2>
						</div>
					</div>
					<div class="col-md-12 col-md-offset-0">
						<div class="fh5co-blog animate-box">
							<div class="inner-post">
								<a href="#"><img class="img-responsive" src="{% static 'images/blog-1.jpg' %}" alt=""></a>
							</div>
							<div class="desc">
								<h3><a href="#"#>Starting new session of body building this summer</a></h3>
								<span class="posted_by">Posted by: Admin</span>
								<span class="comment"><a href="#">21<i class="icon-bubble22"></i></a></span>
								<p>Far far away, behind the word mountains</p>
								<a href="#" class="btn btn-default">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-md-offset-0">
						<div class="fh5co-blog animate-box">
							<div class="inner-post">
								<a href="#"><img class="img-responsive" src="{% static 'images/blog-2.jpg' %}" alt=""></a>
							</div>
							<div class="desc">
								<h3><a href="#"#>Starting new session of body building this summer</a></h3>
								<span class="posted_by">Posted by: Admin</span>
								<span class="comment"><a href="#">21<i class="icon-bubble22"></i></a></span>
								<p>Far far away, behind the word mountains</p>
								<a href="#" class="btn btn-default">Read More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="col-md-12">
						<div class="heading-section animate-box">
							<h2>Upcoming Events</h2>
						</div>
					</div>
					<div class="col-md-12 col-md-offset-0">
						<div class="fh5co-blog animate-box">
							<div class="meta-date text-center">
								<p><span class="date">14</span><span>June</span><span>2016</span></p>
							</div>
							<div class="desc desc2">
								<h3><a href="#">Starting new session of body building this summer</a></h3>
								<span class="posted_by">Posted by: Admin</span>
								<span class="comment"><a href="#">21<i class="icon-bubble22"></i></a></span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
								<a href="#" class="btn btn-default">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-md-offset-0">
						<div class="fh5co-blog animate-box">
							<div class="meta-date text-center">
								<p><span class="date">13</span><span>June</span><span>2016</span></p>
							</div>
							<div class="desc desc2">
								<h3><a href="#"#>Starting new session of body building this summer</a></h3>
								<span class="posted_by">Posted by: Admin</span>
								<span class="comment"><a href="#">21<i class="icon-bubble22"></i></a></span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
								<a href="#" class="btn btn-default">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- fh5co-blog-section -->
{% endblock content %}

