{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="fh5co-parallax" style="background-image: url(/static/images/home-image-3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell animate-box">
						<h1 class="text-center">Entrenadores</h1>
						<p>Made with love by the fine folks at<p>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end: fh5co-parallax -->
	<!-- end:fh5co-hero -->
	<div id="fh5co-team-section">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="heading-section text-center animate-box">
						<h2>Conoce a Nuestros Entrenadores</h2>
						<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4 col-sm-6">
					<div class="team-section-grid animate-box" style="background-image: url(/static/images/trainer-1.jpg);">
						<div class="overlay-section">
							<div class="desc">
								<h3>John Doe</h3>
								<span>Body Trainer</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
								<p class="fh5co-social-icons">
									<a href="#"><i class="icon-twitter-with-circle"></i></a>
									<a href="#"><i class="icon-facebook-with-circle"></i></a>
									<a href="#"><i class="icon-instagram-with-circle"></i></a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="team-section-grid animate-box" style="background-image: url(/static/images/trainer-2.jpg);">
						<div class="overlay-section">
							<div class="desc">
								<h3>James Smith</h3>
								<span>Swimming Trainer</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
								<p class="fh5co-social-icons">
									<a href="#"><i class="icon-twitter-with-circle"></i></a>
									<a href="#"><i class="icon-facebook-with-circle"></i></a>
									<a href="#"><i class="icon-instagram-with-circle"></i></a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="team-section-grid animate-box" style="background-image: url(/static/images/trainer-3.jpg);">
						<div class="overlay-section">
							<div class="desc">
								<h3>John Doe</h3>
								<span>Chief Executive Officer</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								<p class="fh5co-social-icons">
									<a href="#"><i class="icon-twitter-with-circle"></i></a>
									<a href="#"><i class="icon-facebook-with-circle"></i></a>
									<a href="#"><i class="icon-instagram-with-circle"></i></a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="team-section-grid animate-box" style="background-image: url(/static/images/trainer-4.jpg);">
						<div class="overlay-section">
							<div class="desc">
								<h3>John Doe</h3>
								<span>Chief Executive Officer</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								<p class="fh5co-social-icons">
									<a href="#"><i class="icon-twitter-with-circle"></i></a>
									<a href="#"><i class="icon-facebook-with-circle"></i></a>
									<a href="#"><i class="icon-instagram-with-circle"></i></a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="team-section-grid animate-box" style="background-image: url(/static/images/trainer-5.jpg);">
						<div class="overlay-section">
							<div class="desc">
								<h3>John Doe</h3>
								<span>Chief Executive Officer</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								<p class="fh5co-social-icons">
									<a href="#"><i class="icon-twitter-with-circle"></i></a>
									<a href="#"><i class="icon-facebook-with-circle"></i></a>
									<a href="#"><i class="icon-instagram-with-circle"></i></a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="team-section-grid animate-box" style="background-image: url(/static/images/trainer-6.jpg);">
						<div class="overlay-section">
							<div class="desc">
								<h3>John Doe</h3>
								<span>Chief Executive Officer</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								<p class="fh5co-social-icons">
									<a href="#"><i class="icon-twitter-with-circle"></i></a>
									<a href="#"><i class="icon-facebook-with-circle"></i></a>
									<a href="#"><i class="icon-instagram-with-circle"></i></a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-programs-section" class="fh5co-lightgray-section">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="heading-section text-center animate-box">
						<h2>Nuestros Programas</h2>
						<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4 col-sm-6">
					<div class="program animate-box">
						<img src="{% static 'images/fit-dumbell.svg' %}" alt="Cycling">
						<h3>Combate de cuerpo</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						<span><a href="#" class="btn btn-default">Join Now</a></span>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="program animate-box">
						<img src="{% static 'images/fit-yoga.svg' %}" alt="">
						<h3>Programas de Yoga</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						<span><a href="#" class="btn btn-default">Join Now</a></span>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="program animate-box">
						<img src="{% static 'images/fit-cycling.svg' %}" alt="">
						<h3>PowerBike</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						<span><a href="#" class="btn btn-default">Join Now</a></span>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="program animate-box">
						<img src="{% static 'images/fit-boxing.svg' %}" alt="Cycling">
						<h3>Boxeo Fitness</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						<span><a href="#" class="btn btn-default">Join Now</a></span>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="program animate-box">
						<img src="{% static 'images/fit-swimming.svg' %}" alt="">
						<h3>Programa de Nado</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						<span><a href="#" class="btn btn-default">Join Now</a></span>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="program animate-box">
						<img src="{% static 'images/fit-massage.svg' %}" alt="">
						<h3>Masajes</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						<span><a href="#" class="btn btn-default">Join Now</a></span>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock content %}

